/* manrope-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/manrope-v14-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* manrope-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/manrope-v14-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Reset */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

html {
  box-sizing: border-box;
  background-repeat: no-repeat;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Manrope";
}

.container {
  padding: 0 20px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

header {
  width: 100%;
  height: 143px;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.header {
  width: 100%;
  height: 40px;
  background-image: linear-gradient(to left, #24469e, #3e82be);
}

.header-content-wrap {
  width: 100%;
  height: 40px;
}

.header-top-content {
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 60px;
  position: relative;
  height: 100%;
}

.header-icons {
  display: flex;
  height: 27px;
  margin-left: 20px;
}

.background-icon {
  width: 27px;
  height: 27px;
  background-color: rgba(255, 255, 255, 0.253);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.header-icons a:not(:last-child) {
  margin-right: 10px;
}

.phone {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}
.phone-number {
  font-weight: 400;
  text-decoration: none;
  color: white;
  display: inline-block;
}

.phone-icon {
  color: rgba(255, 255, 255, 0.353);
}

.lang-wrap {
  border-radius: 5px;
  background-color: #6284bf;
  display: inline-block;
  max-height: 27px;
  width: 53px;
  overflow: hidden;
  transition: all 0.2s ease;
  position: absolute;
  right: 0;
  top: 6px;
}

.lang-wrap:hover {
  max-height: 100px;
}

.lang-item {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  cursor: pointer;
  padding: 2px;
}

.lang-item div {
  position: relative;
  left: 8px;
}

.lang-wrap .lang-item:first-child div:after {
  content: url(/img/svg/langIconVector.svg);
  display: inline-block;
  transition: all 0.2s ease;
  position: relative;
  left: 5px;
  bottom: 2px;
}

.header-nav {
  height: 103px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(223, 63%, 38%, 0.825);
}

.header-nav-wrap {
  max-width: 1200px;
  width: 100%;
  height: 103px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-wrap {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  transition: all 0.2s ease;
  margin-right: 30px;
}

.logo {
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  padding-right: 20px;
  max-width: 249px;
  min-width: 150px;
}

.logo a {
  display: inline-block;
}
.logo a img {
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}
.content-wrap {
  display: flex;
  align-items: center;
}

.nav-wrap:hover {
  max-height: 100px;
}

.nav {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav a {
  position: relative;
  display: inline-block;
}

.nav:not(:last-child) {
  margin-right: 30px;
}

.has-child a::after {
  background-image: url(/img/svg/navigationVector.svg);
  content: "";
  display: inline-block;
  height: 6px;
  width: 10px;
  transition: all 0.2s ease;
  position: relative;
  left: 5px;
  bottom: 2px;
}

.free-trial-wrap {
  margin-right: 30px;
}

.free-trial {
  padding: 9px 20px;
  background-image: linear-gradient(to left, #ef5559, #3e82be);
  font-weight: 700;
  font-size: 16px;
  line-height: 25.6px;
  color: white;
}

.tools {
  display: flex;
  align-items: center;
}

.tools a {
  display: inline-block;
}

.tools a:not(:last-child) {
  margin-right: 18px;
}

/* hamburger starts */

#hamburger-block {
  margin-left: 30px;
  width: 45px;
  height: 30px;
  position: relative;
  /* margin: 50px auto; */
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#hamburger-block span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: #09244e;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#hamburger-block span:nth-child(1) {
  top: 0px;
}

#hamburger-block span:nth-child(2) {
  top: 12px;
}

#hamburger-block span:nth-child(3) {
  top: 24px;
}

#hamburger-block.open span:nth-child(1) {
  top: 12px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#hamburger-block.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#hamburger-block.open span:nth-child(3) {
  top: 12px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* hamburger ends */

.mobile-menu {
  display: none;
  background-color:  hsla(223, 63%, 38%, 0.825);
  min-height: 100vh;
}
#hamburger-block {
  display: none;
}
.tools.mobile {
  display: none;
}
@media (max-width: 1239.98px) {
  .logo {
    max-width: 180px;
  }

  .nav:not(:last-child) {
    margin-right: 25px;
  }
}
@media (max-width: 991.98px) {
  .mobile-menu.open {
    display: block;
  }
  #hamburger-block {
    display: inline-block;
  }
  .nav-wrap {
    display: none;
  }
  .nav-mobile.mobile {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .nav-mobile-item a {
    display: block;
    padding: 20px 0;
    text-align: center;
    cursor: pointer;
  }
}
@media (max-width: 767.98px) {
  .free-trial-wrap {
    margin-right: 0;
  }

  .free-trial {
    padding: 6px 10px;
    font-size: 14px;
    line-height: 20px;
    color: white;
  }
  .nav-mobile-item a {
    padding: 10px 0;
  }
  #hamburger-block {
    margin-left: 20px;
  }
  .header-icons {
    margin-left: 0px;
    flex: 1;
  }
  .phone-number {
    font-size: 12px;
  }
  .tools {
    display: none;
  }
  .tools.mobile {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
}
@media (max-width: 471.98px) {
  .phone-number {
    display: none;
  }
}

/* ///////////////////////////////////// */

.main-top-section {
  background-image: url(/img/svg/mainbanner.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 143px;
  position: relative;
}
.main-top-section .container {
  position: relative;
}
.sticky {
  position: absolute;
  z-index: 10;
  bottom: 0;
  right: 20px;
  max-width: 42.5%;
  max-height: 552px;
  width: 100%;
  height: 100%;
  background-image: url(/img/svg/info.jpg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  box-shadow: -15px 30px 40px 0px rgba(60, 68, 96, 0.15);
}

.sticky-btn::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.sticky-btn {
  width: 143px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border-radius: 7px;
  position: absolute;
  font-size: 16px;
  line-height: 160%;
}

.sticky-btn.white {
  color: #24479e;
  background-color: #fff;
  bottom: 251px;
  left: -91px;
}
.sticky-btn.white::after {
  background-color: #fff;
  left: -38px;
}

.sticky-btn.light-blue {
  color: #fff;
  background-color: #57a6eb;
  top: -30px;
  right: 7%;
}
.sticky-btn.light-blue::after {
  background-color: #57a6eb;
  top: -21px;
}

.sticky-btn.blue {
  color: #fff;
  background-color: #3874b6;
  bottom: 94px;
  left: -51px;
}
.sticky-btn.blue::after {
  background-color: #3874b6;
  left: -44px;
}
.sticky-btn.dark-blue {
  color: #fff;
  background-color: #24479e;
  bottom: -17px;
  right: 31%;
}
.sticky-btn.dark-blue::after {
  background-color: #24479e;
  bottom: -24px;
}

.main-top-section::after {
  content: "";
  display: block;
  width: 100%;
  height: 156px;
  position: absolute;
  bottom: 0;
  background-image: url(/img/svg/rectangleMainPage.svg);
}

.main-page {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-page-wrap {
  padding: 113px 0 189px;
  position: relative;
}

.main-text {
  max-width: 56%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 100;
}

.main-text h3 {
  font-weight: 800;
  font-size: 20px;
  color: #ef5559;
  line-height: 24px;
  margin-bottom: 10px;
}

.main-text h1 {
  font-weight: 800;
  font-size: 54px;
  color: #57a6eb;
  line-height: 64.8px;
  margin-bottom: 40px;
}

.main-text h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 38.4px;
  color: white;
  margin-bottom: 40px;
}

.arrow-circle {
  color: #337ab7;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  height: 18px;
  line-height: 18px;
  display: inline-block;
  margin: 20px;
}
.arrow-circle .arrow-circle-icon {
  position: relative;
  top: -1px;
  transition: transform 0.3s ease;
  vertical-align: middle;
  background-color: #ffffff2e;
  border-radius: 50%;
}
.arrow-circle .arrow-circle-iconcircle {
  transition: stroke-dashoffset 0.3s ease;
  stroke-dasharray: 95;
  stroke-dashoffset: 95;
}
.arrow-circle:hover .arrow-circle-icon {
  transform: translate3d(5px, 0, 0);
}
.arrow-circle:hover .arrow-circle-iconcircle {
  stroke-dashoffset: 0;
}

.get-started {
  width: 259px;
  height: 60px;
  line-height: 25.6px;
  background-image: linear-gradient(to left, #ef5559, #3e82be);
  font-weight: 700;
  font-size: 16px;
  display: flex;
  justify-content: flex-end;
}

.get-started a {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.get-started p {
  margin: 20px;
}

.rectangle-main-page {
  width: 1920px;
  height: 152.5px;
  position: absolute;
  top: 624px;
}

@media (max-width: 991.98px) {
  .main-page-wrap {
    padding: 60px 0;
  }

  /* .main-text {
    max-width: 56%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 100;
  } */

  .main-text h3 {
    font-size: 18px;
    line-height: 24px;
  }

  .main-text h1 {
    font-size: 40px;
    line-height: 52px;
  }

  .main-text h2 {
    font-size: 20px;
    line-height: 32px;
  }
  .sticky {
    max-width: 42.5%;
    max-height: 382px;
  }
}
@media (max-width: 767.98px) {
  .main-page-wrap {
    padding: 40px 0;
  }

  /* .main-text {
    max-width: 56%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 100;
  } */

  .main-text h3 {
    font-size: 14px;
    line-height: 20px;
  }

  .main-text h1 {
    font-size: 32px;
    line-height: 40px;
  }

  .main-text h2 {
    font-size: 18px;
    line-height: 28px;
  }
  .sticky {
    top: 40px;
    max-width: 30.5%;
    max-height: 300px;
  }
}
@media (max-width: 471.98px) {
  .main-text {
    max-width: none;
  }
  .sticky {
    display: none;
  }
}

h1 {
  font-size: 40px !important;
  line-height: 52px !important;
}
@media (max-width: 991.98px) {
  h1 {
    font-size: 40px !important;
    line-height: 52px !important;
  }
}
@media (max-width: 767.98px) {
  h1 {
    font-size: 32px !important;
    line-height: 40px !important;
  }
}

/* ////////////////////////////// */

.technology {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 112px 0px 269px;
  position: relative;
}
.technology::after {
  content: "";
  display: block;
  width: 100%;
  height: 156px;
  position: absolute;
  bottom: 0;
  background-image: url(/img/svg/rectangletechnology.png);
  background-repeat: no-repeat;
}

.technology-content-wrap {
  display: flex;
  gap: 100px;
  justify-content: space-between;
  position: relative;
}

.technology-content-wrap:before {
  content: "";
  display: inline-block;
  max-width: 386px;
  max-height: 362px;
  width: 100%;
  height: 100%;
  background-image: url(/img/svg/technologyBackgroundDots.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: 1;
  bottom: -122px;
  left: -159px;
}

.technology-photo {
  height: 541px;
  width: 100%;
  flex: 0 1 39%;
  background-image: url(/img/svg/technologyPhoto.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 10;
}

.technology-text {
  flex: 0 1 627px;
  display: flex;
  max-width: 50%;
  width: 100%;
  flex-wrap: wrap;
}

.technology-text .article-name {
  padding-top: 59px;
}

.article-name h5::before {
  content: "";
  display: inline-block;
  width: 26px;
  height: 2px;
  margin-right: 9px;
  background-color: #57a6eb;
}
.article-name h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  color: #57a6eb;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.technology-text h1 {
  font-weight: 700;
  font-size: 52px;
  line-height: 62.4px;
  color: #071e57;
}

.technology-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  color: #474747;
  padding-top: 39px;
}

@media (max-width: 991.98px) {
  .technology {
    padding: 60px 0;
  }
  .technology-photo {
    height: 400px;
  }
  .technology-content-wrap {
    display: flex;
    gap: 50px;
  }
}
@media (max-width: 767.98px) {
  .technology {
    padding: 40px 0;
  }
  .technology-photo {
    height: 400px;
    flex: 1 0 auto;
  }
  .technology-content-wrap {
    flex-direction: column-reverse;
    gap: 40px;
  }
  .technology-text {
    flex: 1 1 auto;
    max-width: none;
  }
}

/* /////////////////////////////// */

.assistant {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 13px;
  position: relative;
  background-color: #f6f8fa;
}

.assistant-contant-wrap {
  position: relative;
}

.assistant-text .article-name {
  padding-bottom: 6px;
}

.assistant-text h1 {
  font-weight: 700;
  font-size: 52px;
  line-height: 62.4px;
  color: #071e57;
  padding-bottom: 61px;
}

.assistant-text h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 38.4px;
  color: #474747;
  margin-bottom: 81px;
}

.assistant-examples {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 81px;
  justify-content: space-between;
}

.assistant-icons-wrap {
  position: relative;
  width: 58%;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.assistant-icon {
  width: 200px;
  height: 241px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: -15px 40px 40px hsla(227, 23%, 31%, 0.106);
  z-index: 2;
}

.assistant-icon-image {
  height: 55px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  flex: 1;
}

.assistant-icon-image-bg {
  height: 105px;
  width: 105px;
  margin-top: 25px;
  background-color: #f6f8fa;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.assistant-icon-image::after {
  background-image: url(/img/svg/assistantIconsVector.svg);
  content: "";
  display: inline-block;
  height: 8px;
  width: 14px;
  position: relative;
  left: 44px;
  bottom: -90px;
}

.assistant-icon a {
  width: 100%;
}

.assistant-icon p {
  font-weight: 700;
  font-size: 16px;
  line-height: 25.6px;
  text-align: center;
  color: #071e57;
}

.more-icon p {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #3874b6;
  text-transform: uppercase;
}
.assistant-vector-wrap {
  width: 55px;
}
.assistant-main-vector {
  background-image: url(/img/svg/assistantMainVector.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.assistant-scrin-wrap {
  width: 37%;
  background-image: url(/img/svg/assistantScrin.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.assistant-icons-wrap:before {
  content: "";
  display: inline-block;
  max-width: 386px;
  max-height: 362px;
  width: 100%;
  height: 100%;
  background-image: url(/img/svg/technologyBackgroundDots.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: 1;
  bottom: 15%;
  left: -32%;
}
.buy-now {
  width: 222px;
  height: 60px;
  line-height: 25.6px;
  background-image: linear-gradient(to left, #ef5559, #3e82be);
  font-weight: 700;
  font-size: 16px;
  display: flex;
  justify-content: flex-end;
}

.buy-now a {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.buy-now p {
  margin: 20px;
}

.free-trial-assistant {
  width: 222px;
  height: 60px;
  line-height: 25.6px;
  background-color: #fde6e6;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  justify-content: flex-end;
  border: 1px solid #ee5559;
}

.free-trial-assistant a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.free-trial-assistant p {
  margin: 20px;
  color: #ee5559;
}

.free-trial-assistant .arrow-circle .arrow-circle-icon {
  background-color: #ee5559;
  background-repeat: no-repeat;
  background-position: center;
}

.assistant-buttons button:not(:last-child) {
  margin-right: 70px;
}
.assistant-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px 0px 13px 0px;
}

@media (max-width: 991.98px) {
  .assistant-examples {
    flex-direction: column;
    align-items: center;
  }
  .assistant-icons-wrap {
    justify-content: center;
    width: 100%;
  }
  .assistant-vector-wrap {
    /* width: 100%; */
    margin: 40px 0;
  }
  .assistant-main-vector {
    height: 40px;
    rotate: 90deg;
    overflow: hidden;
  }
  .assistant-scrin-wrap {
    height: 400px;
    width: 100%;
  }
  .assistant-buttons {
    flex-wrap: wrap;
    margin: 40px 0;
    gap: 20px;
  }
  .assistant-buttons button:not(:last-child) {
    margin-right: 0px;
  }
}
@media (max-width: 767.98px) {
  .assistant-buttons button:not(:last-child) {
    margin-right: 0px;
  }
}

/* ///////////////////////// */

.automation {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.automation .container {
  position: relative;
}
.automation .container:before {
  content: "";
  display: inline-block;
  max-width: 386px;
  max-height: 362px;
  width: 100%;
  height: 100%;
  background-image: url(/img/svg/technologyBackgroundDots.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 100px;
  right: 0px;
}

.automation::before {
  content: "";
  display: block;
  width: 100%;
  height: 156px;
  position: absolute;
  top: 0;
  background-image: url(/img/svg/automationRectangle.svg);
  background-repeat: no-repeat;
}

.automation-content-wrap {
  padding-top: 234px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.automation-text {
  flex: 0 1 627px;
  display: flex;
  max-width: 50%;
  width: 100%;
  flex-wrap: wrap;
}

.automation-text h1 {
  font-weight: 700;
  font-size: 52px;
  line-height: 62.4px;
  color: #071e57;
}

.automation-text .article-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  color: #474747;
  padding-top: 55px;
}

.automation-button {
  width: 246px;
  height: 60px;
  background-color: #fde6e6;
  display: flex;
  justify-content: center;
  border: 1px solid #ee5559;
  align-items: center;
  margin-top: 61px;
}

.automation-button a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.automation-button-text {
  color: #ee5559;
  line-height: 25.6px;
  font-weight: 700;
  font-size: 16px;
}

.automation-scrin {
  background-image: url(/img/svg/automationScrin.jpg);
  background-repeat: no-repeat;
  background-position: top left -4px;
  min-height: 552px;
  background-size: auto;
  width: 42%;
  z-index: 10;
  box-shadow: -15px 30px 40px 0px hsla(227, 23%, 31%, 0.211);
}

@media (max-width: 991.98px) {
  .automation-content-wrap {
    padding: 60px 0;
  }
}
@media (max-width: 767.98px) {
  .automation-content-wrap {
    padding: 40px 0;
    flex-direction: column;
  }
  .automation-text {
    flex: 1 auto;
    max-width: none;
  }
  .automation-scrin {
    margin-top: 40px;
    background-position: top left;
    min-height: 500px;
    background-size: auto;
    width: auto;
  }
  .automation .container:before {
    top: 270px;
  }
}

/* /////////////////////// */

.contact-us {
  width: 100%;
  height: 762px;
  background-image: url(/img/svg/contactUsBackground.svg);
  background-repeat: no-repeat;
  margin-top: 70px;
}

.contact-us-text {
  width: 55%;
}

.contact-us-text h1 {
  color: white;
  font-weight: 700;
  font-size: 52px;
  line-height: 62.4px;
  padding-top: 55px;
}

.contact-us p {
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  color: white;
}

.contact-us .container {
  width: 100%;
}

.contact-us form {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding-top: 49px;
}

form input:focus-visible {
  outline: none;
  padding-top: 20px;
  height: 50px;
}

form input {
  background: transparent;
  border-bottom: 1px solid white;
  color: white;
}

.name-form-label {
  position: relative;
}
.name-form-label::before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(/img/svg/contactUsFormNameIcon.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0;
  top: -2px;
}

.phone-form-label {
  position: relative;
}
.phone-form-label::before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(/img/svg/contactUsFormPhoneIcon.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0;
  top: -2px;
}

.email-form-label {
  position: relative;
}
.email-form-label::before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(/img/svg/contactUsFormEmailIcon.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0;
  top: -2px;
}

.message-form-label {
  position: relative;
}
.message-form-label::before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(/img/svg/contactUsFormMessageIcon.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0;
  top: -2px;
}

form label {
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.86px;
  padding-left: 40px;
}

form textarea:focus-visible {
  outline: none;
  padding-top: 20px;
  height: 100px;
}

form textarea {
  resize: none;
  background: transparent;
  border-bottom: 1px solid white;
  overflow-y: auto;
  color: white;
}

.submit {
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 25.6px;
  text-transform: uppercase;
  margin: 16px 39px;
}

input:-internal-autofill-selected {
  /* appearance: menulist-button; */
  /* background-image: none !important; */
  background-color: transparent !important;
  /* color: fieldtext !important; */
}

